@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --container-max-width: 1540px;
}

body {
  background-color: var(--background);
  opacity: 1;
  background-image: radial-gradient(#2e1bff 0.5px, transparent 0.5px),
    radial-gradient(#2e1bff 0.5px, #000000 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: var(--container-max-width);
}

h1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
